.searchBarInnerContainer--search-bar-ab {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #ffffff;
  width: 100%;
}

.searchBarInnerContainer--search-bar-ab :global(.vtex-input-prefix__group),
.searchBarInnerContainer--search-bar-ab :global(.vtex-input__prefix),
.searchBarInnerContainer--search-bar-ab :global(.vtex-styleguide-9-x-input),
.searchBarInnerContainer--search-bar-ab :global(.vtex-input__suffix) {
  border: none !important;
  background-color: transparent !important;
  height: 40px;
  color: #fff !important;
}

.searchBarIcon--search-bar-ab--prefix {
  margin-top: 3px;
}

.searchBarInnerContainer--search-bar-ab
  :global(.vtex-styleguide-9-x-input)::placeholder,
.searchBarIcon--search-bar-ab--clear {
  color: #fff;
}

.searchBarIcon--search-bar-ab--search {
  color: #fff;
  fill: #fff;
}
