.flexCol--nl-modal-signup-col,
.flexRowContent--nl-modal-signup-row {
  gap: 10px;
}

.flexColChild--nl-modal-signup-col :global(.vtex-styleguide-9-x-input) {
  border-radius: 0;
}

.flexColChild--nl-modal-signup-col :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
}

.flexRowContent--nl-modal-signup-terms {
  justify-content: center;
  align-items: center;

  padding-top: 10px;
}

.flexRowContent--nl-modal-signup-terms .stretchChildrenWidth:first-child{
  width: 7% !important;
}

.flexRowContent--nl-modal-signup-terms .stretchChildrenWidth:nth-child(even){
  width: 80% !important;
}

.flexRowContent--nl-modal-signup-terms :global(.vtex-checkbox__label) {
  display: none;
}

:global(.vtex-rich-text-0-x-paragraph--nl-terms-label),
:global(.vtex-rich-text-0-x-link--nl-terms-label) {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  
  color: #fff;

  padding: 0;
  margin: 0;
}

@media ( max-width: 1024px ) {

  .flexRowContent--nl-modal-signup-row {
    display: flex;
  }

  .flexCol--nl-modal-signup-col {
    gap: 0;
  }

  .flexRowContent--nl-modal-signup-row {
    gap: 5px;
  }

  .flexCol--nl-modal-signup-col :global(.vtex-styleguide-9-x-input) {
    max-height: 35px;
  }

  .flexRowContent--nl-modal-signup-terms {
    display: flex;
    
    padding-top: 0;
  }

}